<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/head.ejs") %>
</head>

<body>
    <h1>¡MAMMA MIA!</h1>
    <img src="/images/404/not-found.png" alt="not-found">

</body>

</html>