<% const logos=["atari.png", "family.png" , "nintendo_64.png" , "play_station.png" , "sega.png" , "supernintendo.png" ]
  %>

  <section class="margin-vertical-20 section-logos-consolas">
    <% for (let logo of logos) { %>
      <div class="wrapper-logos-consolas">
        <img src="/images/logos_consolas/<%= logo %>" class="w-100" alt="Trailers" />
      </div>
      <% } %>
  </section>