<section class="margin-sections">
    <div class="contenedor-testimonial-section">
        <div class="contenedor-imagen-testimonial">
            <div class="imagen-testimonial">
                <img src="/images/profile_photos/Rippyrizza.jpg" alt="Foto de perfil" class="w-100" />
            </div>
        </div>
        <div class="texto-testimonial">
            <h2 class="subs"><b>Rippy Rizza de Malditos Nerds</b></h2>
            <p>
                La primera vez que vi una Pirupí supe que era exactamente lo que estaba buscando. Algo que me diera
                horas
                y horas
                repasando los mejores juegos que me formaron, al tiempo que quedara super fachera en el departamento,
                sin
                parecer un
                periférico de plástico multicolor que no combina con nada. Un objeto de diseño que llama la atención a
                todo el mundo y
                que, cuando lo prueban se transportan inmediatamente a su Arcade favorito, gracias al efecto casi de
                ASMR
                que producen
                los materiales que la componen. Diferente, artesanal y bien pensada, esta botonera está a otro nivel.
            </p>
        </div>
    </div>
</section>